@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --whiteSynapSys: #eee;
    --whiteFundo: #DADADA;
    --lightBlueSynapSys: #85d4e0;
    --blueSkySynapSys: #00B2FF;
    --greySynapSys: #B3B3B3;
    --bluePrimarySynapSys: #204B74;
    --blueSecondarySynapSys: #183E63;
    --lightBlueSynapSys: #00B2FF;

}

*{
    font-family: Inter;
}

.nav-bar-lateral {
    width: 15vw;
    background-color: rgb(224, 240, 255);
    border-color: black;
    border: 1px;
    border-style: solid;
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding: 0 5vw;
}


.logo-synapsys {
    display: flex;
    flex-direction: column;
    align-items: center
}


.nav-bar-lateral .logo-synapsys img {
    height: 80px;
    width: 80px;
}

.nav-bar-lateral .botoes {
    display: flex;
    height: fit-content;
    gap: 1em;
    width: fit-content;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

a.buttom-navbar {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.nav-bar-lateral .titulo {
    border-radius: 10px;
    font-size: larger;
    display: flex;
    justify-content: center;
}

.nav-bar-lateral .nome {
    color: blue;
    border-radius: 5px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;

}

.buttom-navbar {
    height: 2em;
    width: fit-content;
}

.botoes a {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 1em 2em;
    width: 100%;
    transition: ease-out 0.3s;
}

.botoes a:hover {
    color: var(--whiteSynapSys);
}

.botoes .hover:hover {
    background-color: var(--bluePrimarySynapSys);
}

.botoes hr {
    width: 100%;
    color: rebeccapurple;
}

.sair {
    margin-top: 18vh;
    background-color: red;
}