@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --whiteSynapSys: #eee;
  --whiteFundo: #dadada;
  --lightBlueSynapSys: #85d4e0;
  --blueSkySynapSys: #00b2ff;
  --greySynapSys: #b3b3b3;
  --bluePrimarySynapSys: #204b74;
  --blueSecondarySynapSys: #183e63;
  --lightBlueSynapSys: #00b2ff;
}

* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Inter;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-image: url(../images/download.jpeg);
  background-position: center;
  background-repeat: no-repeat;
}

/* .espaco {
  width: 60%;
} */

.login {
  width: 50%;
  height: 70vh;
  padding: 2em;
  border-radius: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--whiteSynapSys);
}

.img-login{
  width: 20vw;
}

.content-login {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  text-align: center;
  /* font-size: 50px;
  margin-bottom: 5%; */
}

.titulo span{
  color: var(--blueSkySynapSys);
  font-size: x-large;
}

.titulo h1{
  font-size: xx-large;
}

.titulo p{
  font-size: larger;
  font-weight: 600
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.content label {
  font-size: small;
  text-align: start;
  margin-top: 10px;
}

.content input {
  border: none;
  border-bottom: var(--blueSkySynapSys) 2px solid;
  padding: 0.5em 1em;
  background-color: var(--whiteFundo);
  width: 20em;
}

.content button {
  background-color: var(--blueSkySynapSys);
  color: white;
  border: none;
  font-size: small;
  font-weight: 900;
  padding: 1em 2em;
  margin-top: 5%;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.content button:hover{
  background-color: var(--blueSecondarySynapSys);
}

.content p {
  margin-top: 8%;
}

.inputs{
  display: flex;
  flex-direction: column;
}

.inputs label{
  font-size: medium;
}

.img {
  width: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Opcional, para ocultar excessos de imagem */
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content .link{
  text-decoration: none;
  font-size: medium;
}

.link a{
  color: var(--blueSkySynapSys);
  transition: ease-in-out 0.2s;
}

.link a:hover{
  color: var(--blueSecondarySynapSys);
}

.voltar{
  color: var(--blueSkySynapSys);
  text-decoration: none;
  font-size: medium;
  transition: ease-in-out 0.2s;
}

.voltar:hover{
  color: var(--blueSecondarySynapSys);
}

.actions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
