@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --whiteSynapSys: #eee;
    --whiteFundo: #DADADA;
    --bluePrimarySynapSys: #204B74;
    --blueSecondarySynapSys: #183E63;
}


* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Inter;
}

body {
    overflow-x: hidden;
}



/* Estilos gerais para a navbar */
nav {
    background-color: var(--whiteSynapSys);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6em;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    border-bottom: 2px solid black;
    padding: 0;
}

nav img {
    height: 4em;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

#openModal {
    margin-right: 2em;
    /* Espaçamento extra no lado direito */
}

nav ul a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

nav ul a li:hover {
    transition: 0.4s;
    color: rgb(0, 110, 126);
    border-bottom: #599bf7 4px solid;
    background-color: #d8e2f6;
}

nav ul a img {
    margin: 0.5em;
    padding: 0 2em;
    font-size: 1em;
    color: var(--whiteSynapSys);

    border-radius: 0.5em;
    border: none;
    transition: ease-in-out 0.2s;
}

nav ul a img:hover {

    cursor: pointer;
}

nav ul li {
    list-style: none;
    margin: 0.5em;
    padding: 0.5em 3em;
    font-size: 1em;
}

.menu-icon {
    display: none;
    /* Escondido em telas grandes */
}









.main-inicio {
    background-color: var(--bluePrimarySynapSys);
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.caixa-inicio {
    background-color: #C7E4FF;
    margin-top: 12vh;
    width: 90%;
    height: 80%;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.container-inicio {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.image-inicio {
    width: 40%;
    margin-top: 10vh;
}

.caixa-inicio h1 {
    text-align: center;
}

.card-inicio {
    background-color: var(--whiteSynapSys);
    width: 45%;
    margin-top: 10vh;

    border-radius: 1em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.card-inicio h1 {
    margin-top: 1.5em;
    font-size: x-large;
    font-weight: 500;
    max-width: 80%;
}

.card-inicio p {
    font-size: large;
    font-weight: 300;
    max-width: 70%;
    margin-top: 2em;
    margin-bottom: 10%;
}

.btn-ingressar {
    color: white;

    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 403px;
    height: 48px;
    border-radius: 14px;
    border: none;
    background: #7fb1f7;
    font-size: 1.5em;
    flex-shrink: 0;
    font-weight: bold;

    transition: 0.2s ease-in-out;
}

.btn-ingressar:hover {
    cursor: pointer;
    background: #599bf7;

}

/* SEÇÂO INFOS */


.main-infos01 {
    background-color: var(--blueSecondarySynapSys);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.main-infos02 {
    background-color: var(--bluePrimarySynapSys);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.box-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 24em;
    width: 90%;
}

.img-card-info {
    width: 26em;
    height: 26em;
    position: relative;
    left: 3rem;
    z-index: 1;

    border-radius: 100%;
}

.img-card-info02 {
    width: 26em;
    height: 26em;
    position: relative;
    right: 2rem;
    z-index: 1;

    border-radius: 100%;
}

.card-info {
    background-color: var(--whiteSynapSys);
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
    padding-left: 12em;
    padding-right: 5em;
    right: 10em;
    border-radius: 0 20px 20px 0;
    text-align: start;
    padding-left: 16em;
}

#card-info2 {
    text-align: end;
    padding-left: 2em;
    padding-right: 16em;
    left: 10em;
    border-radius: 20px 0 0 20px;
}

.card-info h1,
.card-info02 h1 {
    flex-wrap: wrap;
    font-size: 36px;
    margin-top: 1em;

}

.card-info p,
.card-info02 p {
    flex-wrap: wrap;
    font-size: 24px;
    margin-top: 2em;
}




.btn-saibamais {
    margin-top: 1em;
    width: 10em;
    height: 48px;
    border-radius: 14px;
    border: none;
    background: #7fb1f7;
    color: var(--whiteSynapSys);
    font-weight: bold;
    font-size: 1.5em;
    flex-shrink: 0;

    transition: 0.2s ease-in-out;
}



.btn-saibamais:hover {
    cursor: pointer;
    background: #599bf7;
}

/* PARTE DO SITE DIRECIONADA PARA OS DETALHES INFORMATIVOS */
.main-detalhes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

    background-color: var(--blueSecondarySynapSys);
}

.container-detalhes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 90vw;
    height: 80vh;
}

.article-detalhes01 {
    width: 20vw;
    height: 70vh;
    background-image: url(imgs/Detalhes-direita.png);
    background-size: cover;
    border-radius: 1rem;
    padding: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: ease-in-out 0.3s;
    border: #599bf7 3px solid;
}

.article-detalhes02 {
    width: 20vw;
    height: 70vh;
    background-image: url(imgs/Detalhes-meio.png);
    background-size: cover;
    border-radius: 1rem;
    padding: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: ease-in-out 0.3s;
    border: #599bf7 3px solid;
}

.article-detalhes03 {
    width: 20vw;
    height: 70vh;
    background-image: url(imgs/Detalhes-esquerda.png);
    background-size: cover;
    border-radius: 1rem;
    padding: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: ease-in-out 0.3s;
    border: #599bf7 3px solid;
}

.article-detalhes:hover {
    border: var(--whiteSynapSys) 3px solid;
}

.article-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    justify-content: center;
    background-color: var(--lightBlueSynapSys);
    background-color: rgba(89, 155, 247, 0.903);
    border-radius: 1rem;
    align-items: center;
    text-align: center;
    transition: opacity ease-in-out 0.3s;
}



.article-detalhes01 a,
.article-detalhes02 a,
.article-detalhes03 a {
    border: none;
    background-color: #599bf7;
    height: 10%;
    width: 90%;
    font-size: 24px;
    color: var(--whiteSynapSys);
    font-weight: 400;
    border-radius: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-detalhes a:hover {
    height: 10%;
    width: 100%;
}

.img-detalhes {
    border-radius: 1rem;
    width: 25vw;
    height: 85vh;
}

/* INICIO - Section Desenvolvedores */
.section-teamDev {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;

    width: 100%;
    height: 100%;
    background-color: var(--whiteSynapSys);
}

.div-tituloTeamDev {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 90vw;
    height: 20vh;
}

.div-tituloTeamDev h1 {
    font-size: 15px;
    color: #001D6C;
}

.div-tituloTeamDev p {
    text-align: center;
    font-size: 35px;
    font-weight: bold;


}

.main-teamDev {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 90vw;
    height: 80vh;
}

.article-devPhotos {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    width: 100%;
    height: 90%;
    gap: 1rem;
}


.dev-photo {
    width: 15vw;
    height: 35vh;
    object-fit: cover;

    border-radius: 5px;
    border: 3px solid #183E63;
}

.dev-name {
    font-weight: bold;
}

.dev-function {
    color: #697077;
}

.bnt-contact {
    width: 180px;
    height: 48px;
    border: 3px solid #4272ca;
    border-radius: 5px;

    color: white;
    background: #7fb1f7;
    font-weight: bold;


}

.bnt-contact:hover {
    cursor: pointer;
    background: #599bf7;
}



.section-empresas {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-evenly;

}

.div-empresa {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.logo-empresas {

    width: 30px;
    height: 30px;
}

.section-empresas p {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: bold;

    color: #697077;
}




footer {
    background-color: rgb(26, 26, 26);
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    /* Oculto por padrão */
    position: fixed;
    /* Fica fixo na tela */
    z-index: 1;
    /* Fica acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    /* Largura total */
    height: 100%;
    /* Altura total */
    overflow: auto;
    /* Adiciona scroll se necessário */
    background-color: rgb(0, 0, 0);
    /* Cor de fundo */
    background-color: rgba(0, 0, 0, 0.4);
    /* Fundo escuro com transparência */
}

.modalEspaco {
    background-color: #fefefe;
    margin: 15% auto;
    /* Centraliza o modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Largura do modal */
}



.conteudoCadastro {
    display: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media (max-width: 1366px) {
    .card-inicio {
        background-color: var(--whiteSynapSys);
        width: 45%;
        margin-top: 10vh;
    }

    .card-inicio h1 {
        font-size: larger;
    }

    .card-inicio p {
        font-size: larger;
    }

    .card-info h1,
    .card-info02 h1 {
        flex-wrap: wrap;
        font-size: 36px;
        margin-top: 2em;

    }

    .card-info p,
    .card-info02 p {
        flex-wrap: wrap;
        font-size: 20px;
        margin-top: 2em;
    }

    .card-info h1,
    .card-info02 h1 {
        font-size: 26px;
        margin-top: 1em;
    }
}


@media (max-width: 1200px) {


    nav {
        flex-direction: row;
        justify-content: space-between;
        height: 4em;
    }


    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        top: 6em;
        right: 0;
        background-color: var(--whiteSynapSys);
        width: 50%;

        height: 100vh;

        text-align: center;
        border-left: 2px solid black;

    }


    nav ul.show-menu {
        display: block;
    }


    nav ul a {
        padding: 1em;
        display: block;
        border-bottom: 1px solid #ccc;
    }

    nav img {
        height: 3em;
    }


    .menu-icon {
        display: block;
        cursor: pointer;
        margin-right: 3em;
    }

    #menu {
        margin-top: -2em;
    }


    .logo-nav {
        transition: all 0.3s ease-in-out;
    }

    .logo-nav:hover {
        transform: scale(1.1);
    }


    #openModal {
        margin-right: 0;
    }

    .main-inicio {
        background-color: var(--bluePrimarySynapSys);
        height: 100vh;

        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .caixa-inicio {
        background-color: #C7E4FF;
        margin-top: 12vh;
        width: 90%;
        height: 80%;
    }


    .card-inicio {
        background-color: var(--whiteSynapSys);
        width: 45%;
        margin-top: 10vh;
    }

    .card-inicio h1 {
        font-size: larger;
    }

    .card-inicio p {
        font-size: medium;
    }


    .box-info {
        height: 22em;

    }

    .img-card-info {
        width: 24em;
        height: 24em;
    }

    .img-card-info02 {
        width: 24em;
        height: 24em;
    }

    .card-info h1,
    .card-info02 h1 {
        font-size: 26px;
        margin-top: 1em;
    }

    .card-info p,
    .card-info02 p {
        font-size: 14px;
    }
}


@media (max-width: 1024px) {

    nav {
        height: 4em;
    }

    nav img {
        height: 3em;
    }

    #menu {
        margin-top: -2em;
    }


    .card-inicio {

        width: 45%;
        margin-top: 10vh;
    }

    .card-inicio h1 {
        font-size: larger;
    }

    .card-inicio p {
        font-size: medium;
    }

    .main-infos01 {
        height: 100vh;
    }

    .main-infos02 {
        height: 100vh;
    }

    .box-info {
        height: 20em;

    }

    .img-card-info {
        width: 22em;
        height: 22em;
    }

    .img-card-info02 {
        width: 22em;
        height: 22em;
    }

    .card-info h1,
    .card-info02 h1 {
        font-size: 26px;
        margin-top: 0.5em;
    }

    .card-info p,
    .card-info02 p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {

    body{
        width: 768px;
        overflow-x: hidden;
    }

    .section-teamDev{
        /* display: none; */
    }


    nav {
        height: 4em;
    }

    .caixa-inicio {
        margin-top: 10vh;

    }

    .container-inicio {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100vw;
    }

    .image-inicio {
        margin-top: 30vh;
        width: 14em;
    }

    .card-inicio {
        width: 80%;
        height: 32vh;
        margin-top: 1vh;
    }

    .card-inicio h1 {
        font-size: large;
    }

    .card-inicio p {
        font-size: small;
    }

    .btn-ingressar {
        margin-top: 5vh;
        width: 300px;
        height: 38px;
        font-size: 1.2em;
    }

    .main-infos01 {
        height: 45vh;
    }

    .main-infos02 {
        height: 45vh;
    }


    .box-info {
        height: 12em;
    }

    .box-info2 {
        height: 12em;
    }

    .img-card-info {
        width: 14em;
        height: 14em;
    }

    .img-card-info02 {
        width: 14em;
        height: 14em;
    }

    .card-info h1,
    #card-info02 h1 {
        font-size: 14px;
        margin-top: 0.5em;
    }

    .card-info p,
    #card-info02 p {
        font-size: 11px;
        margin-top: 0.5em;
    }

    .card-info {
        background-color: var(--whiteSynapSys);
        width: 100%;
        flex-wrap: wrap;
        height: 100%;
        position: relative;
        padding-right: 1em;
        right: 5em;
        border-radius: 0 20px 20px 0;
        text-align: start;
        padding-left: 8em;
    }

    #card-info2 {
        text-align: end;
        padding-left: 2em;
        padding-right: 8em;
        left: 5em;
        border-radius: 20px 0 0 20px;
    }
}

@media (max-width: 576px) {
    .caixa-inicio {
        margin-top: 10vh;
    }

    .container-inicio {
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .image-inicio {
        margin-top: 30vh;
        width: 10em;
    }


    .card-inicio {
        width: 80%;
        height: 36vh;
        margin-top: 1vh;
    }

    .card-inicio h1 {
        font-size: large;
    }

    .card-inicio p {
        font-size: small;
    }

    .btn-ingressar {
        margin-top: 5vh;
        width: 300px;
        height: 38px;
        font-size: 1.2em;
    }



    .box-info {
        height: 10em;
        width: 100%;
        margin-left: 1em;
    }

    #box-info2 {
        margin-left: 0em;
        margin-right: 1em;
    }

    .card-info h1,
    .card-info02 h1 {
        font-size: 14px;
        margin-top: 0.5em;
    }

    .card-info p,
    .card-info02 p {
        font-size: 11px;
        width: 20em;
        margin-top: 0.5em;
    }

    .img-card-info {
        width: 16em;
        height: 12em;
    }

    .img-card-info02 {
        width: 16em;
        height: 12em;
    }

    .btn-saibamais {
        margin-top: 0.5em;
        width: 8em;
        height: 1.5em;
    }

    .card-info {
        background-color: var(--whiteSynapSys);
        width: 100%;
        flex-wrap: wrap;
        height: 100%;
        position: relative;
        padding-right: 2em;
        right: 5em;
        border-radius: 20px;
        text-align: start;
        padding-left: 10em;
    }

    #card-info2 {
        text-align: end;
        padding-left: 2em;
        padding-right: 8em;
        left: 5em;
        border-radius: 20px;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .caixa-inicio {
        margin-top: 10vh;
    }

    .container-inicio {
        display: flex;
        gap: 1rem;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .image-inicio {
        margin-top: 30vh;
        width: 14em;
    }

    .card-inicio {

        width: 80%;
        margin-top: 2vh;
    }

    .card-inicio h1 {
        font-size: large;
    }

    .card-inicio p {
        font-size: small;
    }

    .btn-ingressar {
        margin-top: 5vh;
        width: 300px;
        height: 38px;
        font-size: 1.2em;
    }

    .box-info {
        height: 12em;
        width: 100%;
    }

    .card-info h1,
    .card-info02 h1 {
        font-size: 14px;
        margin-top: 0.5em;
    }

    .card-info p,
    .card-info02 p {
        font-size: 11px;
        width: 20em;
        margin-top: 0.5em;
    }

    .img-card-info {
        width: 10em;
        height: 10em;
    }

    .img-card-info02 {
        width: 10em;
        height: 10em;
    }
}