@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --whiteSynapSys: #eee;
    --whiteFundo: #DADADA;
    --bluePrimarySynapSys: #204B74;
    --blueSecondarySynapSys: #183E63;
}


* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Inter;
}

nav {
    background-color: var(--whiteSynapSys);
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    justify-content: space-evenly;
    align-items: center;



    height: 6em;
    width: 100%;

    position: fixed;
    z-index: 1000;
    border-bottom: 2px solid black;
}

nav img {
    height: 4em;
    margin: 0.5em;

}

nav ul {
    display: flex;
    width: auto;
    justify-content: space-between;
}

nav ul a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    border-bottom: transparent 4px solid;
}

nav ul a:hover {
    transition: 0.4s;
    /* color: rgb(98, 211, 211); */
    color: rgb(0, 110, 126);
    border-bottom: #599bf7 4px solid;
    background-color: #d8e2f6;
}

nav ul li {
    list-style: none;
    /* background-color: #C6C6C6; */
    margin: 0.5em;
    padding: 0.5em 3em;
    font-size: 1em;
    border-radius: 0.3em;
    text-decoration: none;
}

nav button {
    background-color: rgb(132, 132, 132);
    border: none;
    padding: 0.5em 2em;
    border-radius: 0.3em;
    font-size: 1.6em;
}


.logo-nav {
    transition: all 0.3s ease-in-out;
}

.logo-nav:hover {
    transform: scale(1.1);
}

.main-inicio {
    background-color: var(--bluePrimarySynapSys);
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.caixa-inicio {
    background: url("images/img-turbinas.png");
    background-size: contain;
    margin-top: 12vh;
    width: 90%;
    height: 80%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.caixa-inicio h1 {
    text-align: center;
}

.card-inicio {
    /* background-color: var(--whiteSynapSys); */

    background-color: var(--whiteSynapSys);
    width: 60%;
    margin-top: 10vh;

    border-radius: 1em;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.card-inicio h1 {
    margin-top: 2em;
    font-size: 2rem;
    font-weight: 600;
    max-width: 80%;
}

.card-inicio p {
    font-size: 2rem;
    font-weight: 300;
    max-width: 70%;
    margin-top: 2em;
    margin-bottom: 10%;
}

.btn-ingressar {
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 403px;
    height: 48px;
    border-radius: 14px;
    border: none;
    background: #D9D9D9;
    font-size: 1.5em;
    flex-shrink: 0;

    transition: 0.2s ease-in-out;
}

.btn-ingressar:hover {
    cursor: pointer;
    /* background: #838383; */
    background-color: rgb(133, 212, 224);

}


.main-infos01 {
    background-color: var(--blueSecondarySynapSys);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.main-infos02 {
    background-color: var(--bluePrimarySynapSys);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.box-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    height: 24em;
    width: 90%;

}

.box-info02 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    height: 24em;
    width: 90%;

}

.img-card-info {
    width: 26em;
    height: 26em;
    position: relative;
    left: 3rem;
    z-index: 1;

    border-radius: 100%;
}

.img-card-info02 {
    width: 26em;
    height: 26em;
    position: relative;
    right: 2rem;
    z-index: 1;

    border-radius: 100%;
}

.card-info {
    background-color: var(--whiteSynapSys);
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
    padding-left: 12em;
    padding-right: 5em;
    right: 10em;
    border-radius: 20px;


    text-align: start;
}

.card-info02 {
    background-color: var(--whiteSynapSys);
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
    padding-left: 12em;
    padding-right: 5em;
    right: 10em;
    border-radius: 20px;


    text-align: end;
}



.card-info h1,
.card-info p {
    flex-wrap: wrap;
    font-size: 20px;
    margin-top: 2em;
}

.card-info02 h1,
.card-info02 p {
    flex-wrap: wrap;
    font-size: 20px;
    margin-top: 2em;
}

#card-info2 {
    padding-left: 2em;
    padding-right: 12em;
    left: 10em;
}

#card-info2 h1,
#card-info2 p {
    border: 0;

}

.btn-saibamais {
    margin-top: 1em;
    width: 10em;
    height: 48px;
    border-radius: 14px;
    border: none;
    background: #7fb1f7;
    font-size: 1.5em;
    flex-shrink: 0;

    transition: 0.2s ease-in-out;
}



.btn-saibamais:hover {
    cursor: pointer;
    background: #599bf7;
}

/* PARTE DO SITE DIRECIONADA PARA OS DETALHES INFORMATIVOS */
.main-detalhes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

    background-color: var(--blueSecondarySynapSys);
}

.container-detalhes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 90vw;
    height: 80vh;
}

.article-detalhes01 {
    width: 20vw;
    height: 70vh;
    background-image: url(imgs/Detalhes-direita.png);
    background-size: cover;
    border-radius: 1rem;
    padding: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: ease-in-out 0.3s;
    border: #599bf7 3px solid;
}

.article-detalhes02 {
    width: 20vw;
    height: 70vh;
    background-image: url(imgs/Detalhes-meio.png);
    background-size: cover;
    border-radius: 1rem;
    padding: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: ease-in-out 0.3s;
    border: #599bf7 3px solid;
}

.article-detalhes03 {
    width: 20vw;
    height: 70vh;
    background-image: url(imgs/Detalhes-esquerda.png);
    background-size: cover;
    border-radius: 1rem;
    padding: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: ease-in-out 0.3s;
    border: #599bf7 3px solid;
}

.article-detalhes:hover {
    border: var(--whiteSynapSys) 3px solid;
}

.article-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    justify-content: center;
    background-color: var(--lightBlueSynapSys);
    background-color: rgba(89, 155, 247, 0.903);
    border-radius: 1rem;
    align-items: center;
    text-align: center;
    transition: opacity ease-in-out 0.3s;
}



.article-detalhes01 a,
.article-detalhes02 a,
.article-detalhes03 a {
    border: none;
    background-color: #599bf7;
    height: 10%;
    width: 90%;
    font-size: 24px;
    color: var(--whiteSynapSys);
    font-weight: 400;
    border-radius: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-detalhes a:hover {
    height: 10%;
    width: 100%;
}

.img-detalhes {
    border-radius: 1rem;
    width: 25vw;
    height: 85vh;
}

/* INICIO - Section Desenvolvedores */
.section-teamDev {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;

    width: 100%;
    height: 100%;
    background-color: var(--whiteSynapSys);
}

.div-tituloTeamDev {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 90vw;
    height: 20vh;
}

.div-tituloTeamDev h1 {
    font-size: 15px;
    color: #001D6C;
}

.div-tituloTeamDev p {
    text-align: center;
    font-size: 35px;
    font-weight: bold;


}

.main-teamDev {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 90vw;
    height: 80vh;
}

.article-devPhotos {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;

    width: 100%;
    height: 90%;
    gap: 1rem;
}


.dev-photo {
    width: 15vw;
    height: 35vh;

    border-radius: 5px;
    border: 3px solid #183E63;
}

.dev-name {
    font-weight: bold;
}

.dev-function {
    color: #697077;
}

.bnt-contact {
    width: 180px;
    height: 48px;
    border: 3px solid #0F62FE;
    border-radius: 5px;

    color: #0F62FE;
    font-weight: bold;
}



.section-empresas {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-evenly;

}

.div-empresa {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.logo-empresas {

    width: 35px;
    height: 35px;
}

.section-empresas p {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: bold;

    color: #697077;
}




footer {
    background-color: rgb(26, 26, 26);
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal {
    display: none; /* Oculto por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1; /* Fica acima de outros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Adiciona scroll se necessário */
    background-color: rgb(0, 0, 0); /* Cor de fundo */
    background-color: rgba(0, 0, 0, 0.4); /* Fundo escuro com transparência */
}

.modalEspaco {
    background-color: #fefefe;
    margin: 15% auto; /* Centraliza o modal */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largura do modal */
}

.conteudoLogin {
  
}

.conteudoCadastro{
    display: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}