footer{
    background-color: #93dcfc;
}

#footer_itens{
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 2% 8% ;
    align-items: center;
}

#copyright{
    color: #1d1d1d;
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    #footer_itens{
        flex-direction: column;
        gap: 20px;
    }
}