:root {
    --primary-color: #D96AA7;
    --secondary-color: #422C73;
    --complimentary-color: #88BFB5;
    --contrast-color: #F2E527;
    --light-color: #D2A9D9;
    --lol-color: #000000;
    --whiteSynapSys: #eee;
    --whiteFundo: #DADADA;
    --lightBlueSynapSys: #85d4e0;
    --blueSkySynapSys: #00B2FF;
    --greySynapSys: #B3B3B3;
    --bluePrimarySynapSys: #204B74;
    --blueSecondarySynapSys: #183E63;
    --lightBlueSynapSys: #00B2FF;
    --darkBlueSynapsys: #191C30;
    --lightWhiteSynapsys: #fff;
}




* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Inter;
}

body {
    overflow: hidden;
}

.botoes img {
    height: 30px;
    width: 30px;
    padding: 10px;
}

section {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 85vw;
    padding-left: 15vw;
    opacity: 1;
    transition: all ease-in .5s;
    display: flex;
    flex-direction: column;
    right: 0;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: none;
}

.dash {
    width: 88vw;
    height: 100vh;
    background-color: red;
}


.adicionar_propriedade,
#editar_propriedade {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 0;
    z-index: 1;
    width: 30vw;
    height: 100vh;
    background-color: var(--lightWhiteSynapsys);
    -webkit-box-shadow: 0px 0px 52px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 52px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 52px -14px rgba(0, 0, 0, 0.75);
}



.inputs_cadastrar_propriedade {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: var(--bluePrimarySynapSys);
    gap: 10px;
}

.inputs_cadastrar_propriedade div {
    display: flex;
    flex-direction: column;
}

.inputs_div {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.inputs_cadastrar_propriedade div label {
    font-size: small;
}

.inputs_cadastrar_propriedade div input {
    border: none;
    border-bottom: var(--blueSkySynapSys) 2px solid;
    padding: 0.5em 1em;
    background-color: var(--whiteSynapSys);
}

.adicionar_propriedade h1,
#editar_propriedade h1 {
    color: var(--darkBlueSynapsys);
    font-size: larger;
    text-transform: uppercase;
    opacity: 1;
}

.drawer_button {
    background-color: var(--blueSkySynapSys);
    color: var(--lightWhiteSynapsys);
    border: none;
    font-size: medium;
    font-weight: 600;
    padding: 1em 3em;
}

.drawer_button:hover {
    cursor: pointer;
    background-color: var(--bluePrimarySynapSys);
}

.drawer_button_sec {
    background-color: var(--whiteSynapSys);
    color: var(--darkBlueSynapsys);
    border: none;
    font-size: medium;
    font-weight: 600;
    padding: 1em 3em;
    transition: ease-in-out 0.2s;
}

.drawer_button_sec:hover {
    cursor: pointer;
    background-color: var(--whiteFundo);
}


.div_checkbox-status{
    display: flex !important;
    flex-direction: row !important;
    gap: 10px;
}

.div_checkbox-status input{
    border: none;
    
}

.list_button {
    background-color: var(--blueSkySynapSys);
    color: var(--lightWhiteSynapsys);
    border: none;
    font-size: small;
    font-weight: 900;
    padding: 1em 2em;
    transition: ease-in-out 0.2s;
}

.list_button:hover {
    cursor: pointer;
    background-color: var(--bluePrimarySynapSys);
}

.edit_btn {
    background-color: var(--blueSkySynapSys);
    color: var(--lightWhiteSynapsys);
    border: none;
    font-size: small;
    font-weight: 900;
    padding: 1em 2em;
    transition: ease-in-out 0.2s;
}

.edit_btn:hover {
    cursor: pointer;
    background-color: var(--bluePrimarySynapSys);
}

#propriedades {
    background: var(--whiteFundo);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}




.container_listagem {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 90vh;
    justify-content: start;
    align-items: center;
}

.list_actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 4vh;
}



.campos {
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin-top: 20vh;
}

.select_empresa {
    border: none;
    border-bottom: var(--blueSkySynapSys) 2px solid;
    padding: 0.5em 1em;
    background-color: var(--whiteSynapSys);
}



/* .campos div{
    background-color: #88BFB5;
    width: max-content;
    padding: 2em;
    border: #000000 1px solid;
} */

.styled-table {
    width: 70vw;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: left;
}


.styled-table thead tr {
    background-color: var(--bluePrimarySynapSys);
    color: #fff;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.styled-table tbody tr {
    border-bottom: 1px solid #ddd;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
    background-color: #e0e0e0;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--bluePrimarySynapSys);
}



.navbar {
    height: fit-content;
    width: 85vw;
    color: var(--whiteSynapSys);
    background-color: var(--darkBlueSynapsys);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
}

.navbar div {
    display: flex;
    gap: 1vw;
}

.textNavbar {
    font-size: 25px;
    margin-left: 5em;
}

.selectNavbar {
    text-align: center;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    border: none;
    border-bottom: var(--blueSkySynapSys) 2px solid;
    background-color: var(--darkBlueSynapsys);
    color: var(--lightWhiteSynapsys);
}

.navbar div {
    font-weight: 500;
}

/* .img_menu_suspenso {
    border-radius: 100%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    background-image: url(../images/download.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: ease-in-out 0.2s;
    border: 2px solid transparent;
    margin-right: 5em;
}

.img_menu_suspenso:hover {
    cursor: pointer;
    transform: scale(1.05);
    border: 2px solid var(--lightWhiteSynapsys);
} */
